.App {
  width: 100%;
  max-width: 600px;   /* limite no desktop */
  background-color: #1d133377;
  padding: 2rem;
  border-radius: 12px;
  margin: 1rem;       /* respiro nas laterais em telas menores */
}


